<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/inicio">Club Salud</a></li>
                    <li class="breadcrumb-item"><a href="/area-examenes">Solicitudes</a></li>
                    <li class="breadcrumb-item active">Editar solicitud</li>
                </ol>
            </div>
            <h4 class="page-title">Editar solicitudes</h4>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="tab-pane show active" id="basic-datatable-preview">
                    <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Fecha</th>
                                <th>Sucursal</th>
                                <th>Tipo</th>
                                <th>Paciente</th>
                                <th>Documento del paciente</th>
                                <th>Puntos totales</th>
                                <th>%</th>
                                <th>Puntos medico</th>
                                <th>Aplicar descuento</th>
                                <th>Puntos descuento</th>
                                <th>Puntos netos</th>
                                <th>Observación</th>
                                <th>Procesar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each solicitudes}}                            
                                <tr>
                                    <td><a href="#" class="text-info examen">{{Numero}}</a></td>
                                    <td>{{Fecha}}</td>
                                    <td>{{Sucursal}}</td>
                                    <td>{{Tipo}}</td>
                                    <td>{{Paciente}}</td>
                                    <td>{{DocumentoPaciente}}</td>
                                    <td>{{PuntosTotales}}</td>
                                    <td>{{Comision}}</td>
                                    <td>{{PuntosMedico}}</td>
                                    <td>{{AplicarDescuento}}</td>
                                    <td>{{PuntosDescuento}}</td>
                                    <td>{{PuntosNetos}}</td>
                                    <td>{{Observacion}}</td>
                                    <td><a href="/editar-solicitud/{{_id}}" class="btn btn-outline-success" >Editar</a></td>
                                </tr>
                            {{/each}}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/sweetalert2.all.min.js"></script>
<script src="/js/admin/servicios/info-examenes.js"></script>