<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Club Salud</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Solicitudes</a></li>
                    <li class="breadcrumb-item active">Resolicitar</li>
                </ol>
            </div>
            <h4 class="page-title">Resolicitar</h4>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="tab-pane show active" id="basic-datatable-preview">
                    <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Fecha</th>
                                <th>Paciente</th>
                                <th>Documento del paciente</th>
                                <th>Puntos totales</th>
                                <th>%</th>
                                <th>Puntos generados</th>
                                <th>Observación</th>
                                <th>Resolicitar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each examenes}}                            
                                <tr>
                                    <td><a href="#" class="text-info examen">{{Numero}}</a></td>
                                    <td>{{Fecha}}</td>
                                    <td>{{Paciente}}</td>
                                    <td>{{DocumentoPaciente}}</td>
                                    <td>{{PuntosTotales}}</td>
                                    <td>{{Comision}}</td>
                                    <td>{{PuntosMedico}}</td>
                                    <td>{{Observacion}}</td>
                                    <td><button class="btn btn-outline-success resolicitud" data-numero="{{Numero}}">Resolicitar</button></td>
                                </tr>
                            {{/each}}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/sweetalert2.all.min.js"></script>
<script src="/js/admin/servicios/info-examenes.js"></script>
<script src="/js/admin/servicios/resolicitar-examen.js"></script>
