<div class="row">
      <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/inicio">Club Salud</a></li>
                    <li class="breadcrumb-item"><a href="/area-directorios">Directorio</a></li>
                    <li class="breadcrumb-item"><a href="/directorio-examenes">Análisis</a></li>
                    <li class="breadcrumb-item active">Ficha</li>
                </ol>
            </div>
            <h4 class="page-title">{{examen.Nombre}}</h4>
        </div>
    </div>
      <div class="col-12">
        <div class="card">
            <div class="card-header bg-success ">
                <h4 class="card-title text-light ">Información del análisis</h4>
            </div>
            <div class="card-body">
                 <form action="#" method="post" id="form" data-id="{{examen._id}}">
                    <div class="row">
                        <div class="col-sm-12" id="insertError">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-10 col-10">
                                    <label for="TipoExamen">Tipo de análisis</label>
                                    <select name="TipoExamen" id="TipoExamen" class="form-controls select2" data-toggle="select2">
                                        <option value="{{examen.Tipo}}" selected>{{examen.Tipo}}</option>
                                        {{#each tipos}}
                                            <option value="{{Nombre}}">{{Nombre}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-sm-2 mt-3 col-2">
                                    <button id="btnRegistrarTipo" type="button" class="btn btn-outline-info w-100" >+</button>  
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-10 col-10">
                                    <label for="Especialidad">Especialidad</label>
                                    <select name="Especialidad" id="Especialidad" class="form-controls select2-multiple" data-toggle="select2" 
                                    multiple="multiple" data-placeholder="Seleccione especialidades...">
                                        {{#each examen.Especialidad}}
                                            <option value="{{this}}" selected>{{this}}</option>
                                        {{/each}}
                                        {{#each especialidades}}
                                            <option value="{{Nombre}}">{{Nombre}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-sm-2 mt-3 col-2">
                                    <button id="btnRegistrarEspecialidad" type="button" class="btn btn-outline-info w-100" >+</button>  
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <label for="Especialidad">Perfiles</label>
                                    <select name="Perfil" id="Perfil" class="form-controls select2-multiple" data-toggle="select2" 
                                    multiple="multiple" data-placeholder="Seleccione perfil...">
                                        {{#each examen.Perfiles}}
                                            <option value="{{this}}" selected>{{this}}</option>
                                        {{/each}}
                                        {{#each perfiles}}
                                            <option value="{{Nombre}}">{{Nombre}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="mb-3">
                                <label for="Nombre">Nombre del análisis</label>
                                <input type="text" name="Nombre" value="{{examen.Nombre}}" id="Nombre" placeholder="Introduzca el nombre del examen" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="CantidadMaxima">Cantidad maxima</label>
                                <input type="number" name="CantidadMaxima" value="{{examen.CantidadMaxima}}" id="CantidadMaxima" placeholder="Introduzca la cantidad maxima examen" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="Subtipo1">Sub tipo 1 <span class="text-muted">(Opcional)</span></label>
                            <input type="text" class="form-control" value="{{examen.SubTipo1}}" id="Subtipo1" name="Subtipo1" placeholder="Introduzca el subtipo">
                        </div>
                        <div class="col-sm-4">
                            <label for="Subtipo2">Sub tipo 2 <span class="text-muted">(Opcional)</span></label>
                            <input type="text" class="form-control" id="Subtipo2"value="{{examen.SubTipo2}}" name="Subtipo2" placeholder="Introduzca el subtipo">
                        </div>
                        <div class="col-sm-4">
                            <label for="Subtipo3">Sub tipo 3 <span class="text-muted">(Opcional)</span></label>
                            <input type="text" class="form-control" id="Subtipo3" name="Subtipo3" value="{{examen.SubTipo3}}" placeholder="Introduzca el subtipo">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-2">
                               <label for="campoTexto">¿Requiere campo de texto?</label>
                            <select name="campoTexto" id="campoTexto" class="form-control">
                                <option value="{{examen.campoTexto}}">{{examen.campoTexto}}</option>
                                {{#each CampoTexto}}
                                    <option value="{{Valor}}">{{Texto}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="AgregadoPosterior">Agregado posterior al texto <span class="text-muted">(Opcional)</span></label>
                            <input type="text" class="form-control" value="{{examen.AgregadoPosterior}}" id="AgregadoPosterior" name="AgregadoPosterior" placeholder="Introduzca el agregado posterior">
                        </div>
                        <div class="col-sm-3">
                            <label for="Estado">Estado</label>
                            <select name="Estado" id="Estado" class="form-controls select2" data-toggle="select2">
                                <option value="{{examen.Estado}}" selected>{{examen.Estado}}</option>
                                {{#each Estados}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="Puntos">Puntos</label>
                            <input type="number" name="Puntos" id="Puntos" value="{{examen.Puntos}}" step="any" class="form-control" placeholder="Introduzca los puntos del examen">
                        </div>
                        <div class="col-sm-2 mt-3">
                           <label for="">¿Genera puntos para el médico?</label>
                           <div class="text-center mt-2">
                                <input type="checkbox" id="Comisiones" {{examen.Checked}} data-switch="bool"/>
                                <label for="Comisiones" data-on-label="Si" data-off-label="No"></label>
                           </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-12 text-end">
                            <button class="btn btn-primary" id="btnSubmit" type="submit">Actualizar datos</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-success">
                <h4 class="card-title text-light">Historial</h4>
            </div>
            <div class="card-body">
                 <div class="tab-pane show active" id="basic-datatable-preview">
                    <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Fecha</th>
                                <th>Estado del análisis</th>
                                <th>Médico</th>
                                <th>Paciente</th>
                                <th>Puntos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each Historial}}                            
                                <tr>
                                    <td><a href="#" class="text-info examen">{{Numero}}</a></td>
                                    <td>{{Fecha}}</td>
                                    <td>{{TipoExamen}}</td>
                                    <td>{{Medico}}</td>
                                    <td>{{Paciente}}</td>
                                    <td>{{Puntos}}</td>
                                </tr>
                            {{/each}}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/admin/edicion/examen.js"></script>
<script src="/js/admin/servicios/info-examenes2.js"></script>

