<div class="row">
    <div class="col-12">
        <div class="page-title-box">
                   <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/inicio">Club Salud</a></li>
                    <li class="breadcrumb-item"><a href="/area-directorios">Directorio</a></li>
                    <li class="breadcrumb-item"><a href="//tipos-canjes">Medallas</a></li>
                    <li class="breadcrumb-item active">Ficha</li>
                </ol>
            </div>
            <h4 class="page-title">{{medalla.Nombre}}</h4>
        </div>
    </div>
    <div class="col-sm-12 my-2" id="insertError"></div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="Precio">Comisión</label>
                        <input type="number" name="Comision" id="Comision" value="{{medalla.Comision}}" required min="0" step="any" class="form-control" placeholder="Comisión de la nedalla">
                    </div>
                    <div class="col-sm-4">
                        <label for="Precio">Desde</label>
                        <input type="number" name="Desde" id="Desde" value="{{medalla.Desde}}" required min="0" step="any" class="form-control" placeholder="Inicio de puntos de la medalla">
                    </div>
                    <div class="col-sm-4">
                        <label for="Precio">Hasta</label>
                        <input type="number" name="Hasta" id="Hasta" value="{{medalla.Hasta}}" required min="0" step="any" class="form-control" placeholder="Fin de puntos de la medalla">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-12 text-end">
                        <button class="btn btn-success" id="btnSubmit" data-id="{{medalla._id}}">Editar Medalla</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const d = document,
        $btnSubmit = d.getElementById('btnSubmit'),
        $insertError = d.getElementById('insertError'),
        $Desde = d.getElementById('Desde'),
        $Hasta = d.getElementById('Hasta'),
        $Comision = d.getElementById('Comision');

    $btnSubmit.addEventListener('click', async e => {
        if($Comision.value == ''){
            $insertError.innerHTML = `<div class="alert alert-danger" role="alert">
            <strong>¡Error!</strong> Debe llenar todos los campos.
            </div>`
            return false;
        }
        if($Comision.value < 0){
            $insertError.innerHTML = `<div class="alert alert-danger" role="alert">
            <strong>¡Error!</strong> El valor de la comisión debe ser mayor a 0.
            </div>`
            return false;
        }

        if($Desde.value == ''){
            $insertError.innerHTML = `<div class="alert alert-danger" role="alert">
            <strong>¡Error!</strong> Debe llenar todos los campos.
            </div>`
            return false;
        }
        if($Desde.value < 0){
            $insertError.innerHTML = `<div class="alert alert-danger" role="alert">
            <strong>¡Error!</strong> El valor de la comisión debe ser mayor a 0.
            </div>`
            return false;
        }
        if($Desde.value > $Hasta.value){
            $insertError.innerHTML = `<div class="alert alert-danger" role="alert">
            <strong>¡Error!</strong> El valor de la comisión debe ser mayor a 0.
            </div>`
            return false;
        }
        if($Hasta.value == ''){
            $insertError.innerHTML = `<div class="alert alert-danger" role="alert">
            <strong>¡Error!</strong> Debe llenar todos los campos.
            </div>`
            return false;
        }
        if($Hasta.value < 0){
            $insertError.innerHTML = `<div class="alert alert-danger" role="alert">
            <strong>¡Error!</strong> El valor de la comisión debe ser mayor a 0.
            </div>`
            return false;
        }
        let data = {
            Comision: $Comision.value,
            Desde: $Desde.value,
            Hasta: $Hasta.value
        }

        $btnSubmit.disabled = true;
        fetch(`/edicion/editar-medalla/${$btnSubmit.dataset.id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then((data) =>{
            return data.json()
        })
        .then((data) =>{
            if(data.ok) {
                $insertError.innerHTML = `<div class="alert alert-success" role="alert">
                <strong>¡Éxito!</strong> Se ha editado la medalla.
                </div>`
                $btnSubmit.disabled = false;
            } else {
                $insertError.innerHTML = `<div class="alert alert-danger" role="alert">
                <strong>¡Error!</strong> Ocurrio un error al editar la medalla.
                </div>`
                $btnSubmit.disabled = false;
            }
        })

    })    


</script>