<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Club Salud</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Servicios</a></li>
                    <li class="breadcrumb-item active">Otros servicios</li>
                </ol>
            </div>
            <h4 class="page-title">Otros servicios</h4>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Solicitar servicio</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label for="Servicio">Servicios disponibles</label>
                            <select name="Servicio" id="Servicio" class="form-control select2" data-toggle="select2">
                                <option value="0">--Seleccione un servicio--</option>
                                {{#each servicios}}
                                    <option value="{{_id}}">{{Nombre}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label for="Paciente">Paciente</label>
                            <select name="Paciente" id="Paciente" class="form-control select2" data-toggle="select2">
                                <option value="0">--Seleccione un paciente--</option>
                                {{#each pacientes}}
                                    <option value="{{_id}}">{{Nombres}} {{Apellidos}} - {{Documento}}</option>
                                {{/each}}
                                <option value="0">Pendiente de datos</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label for="Descripcion">Descripción del servicio</label>
                            <textarea name="Descripcion" id="Descripcion" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 my-3 text-end">
                        <button class="btn btn-success" id="btnEnviar">Enviar solicitud de servicio</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const d = document,
        $btnEnviar = d.getElementById('btnEnviar'),
        $Servicio = d.getElementById('Servicio'),
        $Descripcion = d.getElementById('Descripcion'),
        $Paciente = d.getElementById('Paciente');

    $btnEnviar.onclick = () =>{
        if($Servicio.value == 0){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Seleccione un servicio',
            })
            return false;
        }
        if($Paciente.value == 0){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Seleccione un paciente',
            })
            return false;
        }
        if($Descripcion.value == ''){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Ingrese una descripción',
            })
            return false;
        }

        let dataEnvio = {
            Servicio: $Servicio.value,
            Paciente: $Paciente.value,
            Descripcion: $Descripcion.value
        }

        //loading with Swal
        Swal.fire({
            title: 'Enviando solicitud',
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading()
            },
        })



        fetch('/medicos/servicios/otros/nuevo-servicio',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dataEnvio)
        })
        .then((data) =>{
            return data.json()
        })
        .then((data) =>{
            if(data.ok){
                Swal.fire({
                    icon: 'success',
                    title: 'Solicitud enviada',
                    text: 'La solicitud ha sido enviada correctamente',
                }).then((data) =>{
                    location.reload()
                })
            }else{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: data.msg,
                })
            }
        })

    }


</script>