<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Club Salud</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Examenes</a></li>
                    <li class="breadcrumb-item active">Atendidos</li>
                </ol>
            </div>
            <h4 class="page-title">Examenes atendidos</h4>
        </div>
    </div>
    <div class="col-sm-12 my-2" id="insertError"></div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="tab-pane show active" id="basic-datatable-preview">
                    <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Fecha</th>
                                <th>Fecha de atención</th>
                                <th>Tipo</th>
                                <th>Observación</th>
                                <th>Resultados</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each examenes}}                            
                                <tr>
                                    <td><a href="#" class="text-info examen">{{Numero}}</a></td>
                                    <td>{{Fecha}}</td>
                                    <td>{{FechaAtencion}}</td>
                                    <td>{{Tipo}}</td>
                                    <td>{{Observacion}}</td>
                                     <td>
                                        <a  class="btn btn-outline-info resultados" data-numero="{{Numero}}" href="javascript:void(0)">
                                            <i class="mdi mdi-eye"></i> Ver
                                        </a>
                                    </td>
                                </tr>
                            {{/each}}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/sweetalert2.all.min.js"></script>
<script src="/js/admin/servicios/info-examenes.js"></script>
<script src="/js/admin/servicios/info-resultados.js"></script>
