<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/inicio">Club Salud</a></li>
                    <li class="breadcrumb-item"><a href="/area-directorios">Directorio</a></li>
                    <li class="breadcrumb-item active">Medallas</li>
                </ol>
            </div>
            <h4 class="page-title">Directorio de medallas</h4>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="tab-pane show active" id="basic-datatable-preview">
                    <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>%</th>
                                <th>Desde</th>
                                <th>Hasta</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each medallas}}                            
                                <tr>
                                    <td><a href="/edicion/editar-medalla/{{_id}}" class="text-info" >{{Nombre}}</a></td>
                                    <td>{{Comision}}</td>
                                    <td>{{Desde}} pts</td>
                                    <td>{{Hasta}} pts</td>
                                </tr>
                            {{/each}}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
