<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/inicio">Club Salud</a></li>
                    <li class="breadcrumb-item"><a href="/area-directorios">Directorio</a></li>
                    <li class="breadcrumb-item active">Medicos</li>
                </ol>
            </div>
            <h4 class="page-title">Directorio de médicos</h4>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="tab-pane show active" id="basic-datatable-preview">
                    <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>Nombres</th>
                                <th>Documento</th>
                                <th>Email</th>
                                <th>Teléfono</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}                            
                                <tr>
                                    <td><a href="/edicion/editar-medico/{{_id}}" class="text-info" >{{Nombres}} {{Apellidos}}</a></td>
                                    <td>{{Cedula}}</td>
                                    <td>{{Email}}</td>
                                    <td>{{Telefono}}</td>
                                </tr>
                            {{/each}}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
